@import '~foundation-sites/scss/foundation.scss';

$foundation-palette: (
  primary: bisque,
  secondary: #11116a,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

@import './style/typography';

@include foundation-global-styles;
@include foundation-thumbnail;

.eightk {
  
  @include foundation-off-canvas;
  @include foundation-button;
  @include foundation-tabs;
  @include foundation-thumbnail;
  @include foundation-title-bar;
  @include foundation-tooltip;
  @include foundation-top-bar;
  
  @include foundation-menu;
  @include foundation-menu-icon;
  
  footer {
    @include callout-base;
    height:   1.15rem;
  }
};

@import './style/portfolio-hero-header';
@import './style/social-footer';